# Ignore image and data files
*.png
*.nc
*.mat
*.pdf
*.avi
*.zip

## But not the VERIFIED_DATA subdirectory, the documentation, or colormap file
!run/verified_data/*
!doc/*
!tools/rb.mat

# Ignore temporary MATLAB files
*.asv

# Ignore other analysis files
*.xlsx
