# Ignore image and data files
*.png
*.nc
*.mat
*.pdf
## But not the VERIFIED_DATA subdirectory or the documentation
!run/verified_data/*
!doc/*

# Ignore temporary MATLAB files
*.asv

# Ignore other analysis files
*.xlsx
